.card {
  margin: auto;
  width: 400px;
  height: 600px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0px 8px rgb(173, 173, 173);
  background-color: #ffffff;
  position: relative;
  flex-shrink: 0;

}
.deleteCard {
  margin: auto;
  width: 400px;
  height: 600px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 0px 8px rgb(173, 173, 173);
  background-color: #ffffff;
  opacity: 0.5;
}
.restoreButton {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(190, 185, 185);
  margin: auto;
  padding: 10px;
  width: 95%;
  font-size: larger;
  transition: all 0.5s ease;
}
.restoreButton:hover {
  background-color: #34caca;
  color: white;
}

@media screen and (max-width: 420px) {
  .card {
    width: 100%;
  }
}
