.homeCardsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 630px;
}

@media only screen and (max-width:1110px) {
    .homeCardsBox{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items:center;
        gap: 25px;
    }
  }