.CardListSection{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.sortButton{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:white;
    border-radius: 5px;
    border: none;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    padding: 10px;
    margin-left: 20px;
}

.CardsBox{
    display:grid;
    grid-template-columns: auto auto auto ;
    grid-gap:55px;
    width:100%;
    margin: auto;
}

@media only screen and (max-width:1380px) {
    .homeCardsBox{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:900px) {
    .homeCardsBox{
        grid-template-columns: auto;
    }
}