.contactBox {
  width: 500px;
  padding: 30px;
  background: #ffffff;
  margin: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  margin-top: 150px;
}
.contactBox h2 {
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.contactForm * {
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font:
    16px Arial,
    Helvetica,
    sans-serif;
  height: 45px;
  border-radius: 5px;
}

.contactForm textarea {
  overflow: hidden;
  resize: vertical;
  min-height: 40px;
  max-height: 150px;
}
.contactForm button {
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.contactForm button:hover {
  background-color: #34caca;
}

@media screen and (max-width: 520px) {
  .contactBox {
    width: 99%;
    overflow: hidden;
  }
}
