.notFoundBox {
  margin: auto;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
.notFoundText {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  padding: 25px;
}
.notFoundLink {
  color: red;
  text-decoration: none;
  padding-left: 25px;
}
